In [11]:
import pandas as pd
import numpy as np
import matplotlib
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
import seaborn as sns

In [12]:
penguins = sns.load_dataset('penguins')
penguins

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1    Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2    Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
3    Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4    Adelie  Torgersen            36.7  ...              193.0       3450.0  Female
..      ...        ...             ...  ...                ...          ...     ...
339  Gentoo     Biscoe             NaN  ...                NaN          NaN     NaN
340  Gentoo     Biscoe            46.8  ...              215.0       4850.0  Female
341  Gentoo     Biscoe            50.4  ...              222.0       5750.0    Male
342  Gentoo     Biscoe            45.2  ...              212.0       5200.0  Female
343  Gentoo     Biscoe            49.9  ...              213.0       5400.0    Male

[344 rows x 7 columns]

In [13]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [14]:
num_cols = penguins.select_dtypes('number').columns
print(num_cols.tolist())

['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

In [15]:
cat_cols = penguins.select_dtypes(exclude='number').columns
print(cat_cols.tolist())

['species', 'island', 'sex']

In [16]:
num_imp = SimpleImputer()
cat_imp = SimpleImputer(strategy='most_frequent')

In [17]:
penguins[num_cols] = num_imp.fit_transform(penguins[num_cols])
penguins

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen        39.10000  ...         181.000000  3750.000000    Male
1    Adelie  Torgersen        39.50000  ...         186.000000  3800.000000  Female
2    Adelie  Torgersen        40.30000  ...         195.000000  3250.000000  Female
3    Adelie  Torgersen        43.92193  ...         200.915205  4201.754386     NaN
4    Adelie  Torgersen        36.70000  ...         193.000000  3450.000000  Female
..      ...        ...             ...  ...                ...          ...     ...
339  Gentoo     Biscoe        43.92193  ...         200.915205  4201.754386     NaN
340  Gentoo     Biscoe        46.80000  ...         215.000000  4850.000000  Female
341  Gentoo     Biscoe        50.40000  ...         222.000000  5750.000000    Male
342  Gentoo     Biscoe        45.20000  ...         212.000000  5200.000000  Female
343  Gentoo     Biscoe        49.90000  ...         213.000000  5400.000000    Male

[344 rows x 7 columns]

In [18]:
penguins[['sex']] = cat_imp.fit_transform(penguins[['sex']])
penguins

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen        39.10000  ...         181.000000  3750.000000    Male
1    Adelie  Torgersen        39.50000  ...         186.000000  3800.000000  Female
2    Adelie  Torgersen        40.30000  ...         195.000000  3250.000000  Female
3    Adelie  Torgersen        43.92193  ...         200.915205  4201.754386    Male
4    Adelie  Torgersen        36.70000  ...         193.000000  3450.000000  Female
..      ...        ...             ...  ...                ...          ...     ...
339  Gentoo     Biscoe        43.92193  ...         200.915205  4201.754386    Male
340  Gentoo     Biscoe        46.80000  ...         215.000000  4850.000000  Female
341  Gentoo     Biscoe        50.40000  ...         222.000000  5750.000000    Male
342  Gentoo     Biscoe        45.20000  ...         212.000000  5200.000000  Female
343  Gentoo     Biscoe        49.90000  ...         213.000000  5400.000000    Male

[344 rows x 7 columns]

In [21]:
sex_enc = LabelEncoder()
penguins['sex'] = sex_enc.fit_transform(penguins['sex'])

In [22]:
print(penguins['sex'])

0      1
1      0
2      0
3      1
4      0
      ..
339    1
340    0
341    1
342    0
343    1
Name: sex, Length: 344, dtype: int32

In [23]:
cat_enc = OneHotEncoder(drop='first')
dummy_cols = cat_enc.fit_transform(penguins[cat_cols]).toarray()
dummy_df = pd.DataFrame(dummy_cols)

In [25]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [26]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [24]:
dummy_df

       0    1    2    3    4
0    0.0  0.0  0.0  1.0  1.0
1    0.0  0.0  0.0  1.0  0.0
2    0.0  0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  1.0  1.0
4    0.0  0.0  0.0  1.0  0.0
..   ...  ...  ...  ...  ...
339  0.0  1.0  0.0  0.0  1.0
340  0.0  1.0  0.0  0.0  0.0
341  0.0  1.0  0.0  0.0  1.0
342  0.0  1.0  0.0  0.0  0.0
343  0.0  1.0  0.0  0.0  1.0

[344 rows x 5 columns]

In [27]:
scaler = StandardScaler()
penguins[num_cols] = scaler.fit_transform(penguins[num_cols])
penguins

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g  sex
0    Adelie  Torgersen   -8.870812e-01  ...          -1.422488    -0.565789    1
1    Adelie  Torgersen   -8.134940e-01  ...          -1.065352    -0.503168    0
2    Adelie  Torgersen   -6.663195e-01  ...          -0.422507    -1.192003    0
3    Adelie  Torgersen   -1.307172e-15  ...           0.000000     0.000000    1
4    Adelie  Torgersen   -1.328605e+00  ...          -0.565361    -0.941517    0
..      ...        ...             ...  ...                ...          ...  ...
339  Gentoo     Biscoe   -1.307172e-15  ...           0.000000     0.000000    1
340  Gentoo     Biscoe    5.294731e-01  ...           1.006038     0.811880    0
341  Gentoo     Biscoe    1.191758e+00  ...           1.506028     1.939064    1
342  Gentoo     Biscoe    2.351241e-01  ...           0.791756     1.250229    0
343  Gentoo     Biscoe    1.099774e+00  ...           0.863183     1.500715    1

[344 rows x 7 columns]

PIPELINE

In [28]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

df = sns.load_dataset('penguins')
num_cols = df.select_dtypes('number').columns
cat_cols = df.select_dtypes(exclude='number').columns

num_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer()),
        ('scaler', StandardScaler())
    ]
)

cat_pipeline = Pipeline(
    steps = (
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('encoder', OneHotEncoder(drop='first'))
    )
)

In [29]:
preprocessor = ColumnTransformer(
    transformers = [
        ('num', num_pipeline, num_cols),
        ('cat', cat_pipeline, cat_cols)
    ]
)

In [30]:
preprocessor.fit_transform(df)

array([[-0.88708123,  0.78774251, -1.42248782, ...,  0.        ,
         1.        ,  1.        ],
       [-0.81349399,  0.12655633, -1.06535169, ...,  0.        ,
         1.        ,  0.        ],
       [-0.66631952,  0.43171918, -0.42250666, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 1.1917582 , -0.73807176,  1.50602843, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.23512413, -1.19581604,  0.79175618, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.09977416, -0.53462985,  0.8631834 , ...,  0.        ,
         0.        ,  1.        ]])